@import url(style.css);

@keyframes animationText-1 {
    25%{
        color: #fff;
        text-decoration: 2px underline rgb(57, 197, 80);
    }
    50%{
        color: var(--color-blue);
        text-decoration: none;
    }
}
