.footer {
    padding: 50px 7% 100px 7%; 
    background-color: var(--color-gris);
}

.hr-footer{
    width: 80%;
    margin: auto;
    height: 1px;
    border: none;
    background-color: rgba(63, 63, 63, 0.664);
}

/*----Contenido del footer*/
.content-footer{
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.ul-footer {
    list-style: none;
}

.ul-footer li {
    padding: 10px 0px;
}

.ul-footer .link-right{
    color: var(--color-principal);
    font-weight: bold;
    transition: all .3s ease 0s;
}

.ul-footer .link-right:hover{
    text-decoration: 2px  underline #000;
}

.ul-footer li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    transition: all .3s ease 0s;
}

.ul-footer li a:hover, .title:hover {
    color: var(--color-principal);
}

.title {
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease 0s;
}

/*----- clase ==> order-flex <== ( opcional )*/

