@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lexend+Deca:wght@200&family=Quicksand:wght@300&display=swap');
@import url(animation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #0575E6;
}

body {
    font-family: sans-serif;
    background-color: rgb(230, 227, 227);
}

.bigHeader{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.smallHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 400px;

    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.smallHeader h2 {
    font-size: 26px;
    cursor: pointer;
    font-weight: bold;
}

.bigHeader-search {
    background-color: rgb(226, 226, 226);;
    width: 400px;
    height: 33px;
    padding: 7px 10px;
    border-radius: 30px;
    color: rgb(77, 77, 77);
    border: none;
    font-size: 18px;
    outline: none;
    font-family: 'Baloo 2', cursive;
    transition: all .3s ease 0s;
}

.bigHeader-search:hover{
    background-color: #fff;
}

.bigHeader-search:focus {
    background-color: #fff;
    color: #000;
}

.smallHeader nav ul {
    display: flex;
    list-style: none;
}

.smallHeader ul li {
    display: inline-block;
    padding: 5px 10px;
}

.smallHeader li .link-siguenos {
    color: rgb(25, 241, 61);
    font-weight: bold;
}

.smallHeader li .link-siguenos:hover {
    background-color: rgb(57, 197, 80);
    color: #fff;
}

.smallHeader li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    padding: 6px 8px;
    transition: all .3s ease-out 0s;
}

.smallHeader li a:hover {
    background: rgba(200, 200, 200, 0.719);
    border-radius: 15px;
}

.smallHeader button {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

button span{
    font-size: 20px;
    color: #000;    
}

/*-------  Banner-header ---------*/

.header-banner-content {
    display: block;
    padding: 12px 0px 60px;
    margin: 100px 0px 50px 400px ;
    color: #fff;
}

.header-banner-content h1{
    font-size: 60px;
    font-family: 'Lexend Deca', sans-serif;
}

.header-banner-content p {
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
}

.header-banner-content a {
    color: var(--color-blue);
    text-decoration: none;
    transition: all .3s ease-out 0s;
}

.links-1 {
    animation: animationText-1 2s infinite;
}

.link-2 {
    animation: animationText-1 4s infinite;
}

.link-3 {
    animation: animationText-1 6s infinite;
}

.header-banner-content a:hover {
    color: #fff;
    text-decoration: 2px underline rgb(57, 197, 80);
}

/* ---------Animation-Blocks-----------*/

.blocks-ani {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    z-index: 1;
    background-color: rgba(238, 238, 238, 0.87);
    transition: all 4s ease 0s;
}

.blocks-1 {
    top: 130px;
    left: 200px;
}

.blocks-2 {
    top: 190px;
    right: 70px;
}

.blocks-3 {
    top: 250px;
    left: 70px;
}

.blocks-4 {
    top: 300px;
    right: 70px;
}

.toggle-1 {
    left: 1250px;
    background-color: rgb(57, 197, 80);
}

.toggle-2 {
    right: 1550px;
    background-color: rgb(57, 197, 80);
}

